@charset "utf-8";
@use '../foundation/vars' as v;
@use '../foundation/mixin' as m;

// /* content
// ----------------------------------------------------------------- */
.l-inner {
    @include m.l-inner;

    &__min {
        @include m.l-inner__min;
    }
}

.l-wrapper {
    position: relative;
    overflow: hidden;
}

.l-section {
    position: relative;
    padding: m.rem(150) 0;

    @include m.mq-max(v.$breakpoint-md) {
        padding: m.rem(80) 0;
    }

    @include m.mq-max(v.$breakpoint-xs) {
        padding: m.vw(60) 0;
    }
}

.l-mainvisual {
    width: 100%;
    height: 100%;
    position: relative;
}