@charset "utf-8";
@use '../foundation/vars' as v;
@use '../foundation/mixin' as m;

/* header
----------------------------------------------------------------- */
.l-header {
    position: fixed;
    width: 100%;
    height: 8.6rem;
    top: 0;
    left: 0;
    z-index: 99;
    transition: all .3s;

    &.js-headerBg {
      background-color: v.$colorTheme;
      box-shadow: 0 0 20px v.$colorBorderGray02;
    }

    &__inner {
      height: 100%;
      @include m.l-inner;
      padding: 0 2rem;
      position: relative;
      @include m.flexBw;
      align-items: center;
    }

  // &__content {

  // }

  // &__top {
  //   @include m.flex;
  //   align-items: center;
  //   padding: rem(10) rem(20);
  // }

  // &__bottom {
  //   padding: 0 30px;
  //   max-width: v.$breakpoint-sm;
  //   margin: auto;
  // }

  @include m.mq-max(v.$breakpoint-xs) {

    height: 6rem;

    &.js-header {
      &.is-active {
        background-color: v.$colorTheme;
      }
    }

    &__inner {
      max-width: 100%;
      margin: 0 auto;
      padding: 2rem 2%;
    }

    // &__top {
    //   @include m.flexWrap;
    //   padding: 0 2%;
    // }

    // &__bottom {
    //     display: none;
    // }
  }

}
