@charset "utf-8";
@use '../../foundation/vars' as v;
@use '../../foundation/mixin' as m;

/* copyright
----------------------------------------------------------------- */
.p-copyright {
    padding: m.rem(10) 0;
    background-color: #222;
    text-align: center;

    &__text {
        font-size: m.rem(12);
        letter-spacing: .05em;
        line-height: 1.3;
        color: v.$colorTheme;
    }

    @include m.mq-max(v.$breakpoint-xs) {

        padding: m.vw(10) 0;

    }
}